.wrapper {
  margin-top: 20px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  font-size: 14px;
}

.error {
  display: block;

  margin-top: 6px;

  color: #f5222d;
  font-size: 12px;
}
