.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  margin: 24px 0;

  font-size: 14px;
  line-height: 1.5;

  color: #595959;

  cursor: pointer;
}

.checkbox input {
  margin-top: 3px;
}
