.banner {
  background: #5cb85c;
  padding: 48px 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  text-align: center;
}

h1 {
  margin: 0;
  font-size: 56px;
}

p {
  margin-top: 12px;
  font-size: 22px;
}
