.page {
  display: flex;
  justify-content: center;

  padding-top: 80px;
}

.form {
  width: 380px;
}

.title {
  margin-bottom: 36px;

  text-align: center;

  font-size: 56px;
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: flex-end;

  margin-top: 18px;
}
